# pin_sweep.pcf
# Alchitry Cu V2 + Bromine V2
# ICE40 HX8K CB132

set_io clk   P7
set_io rst_n P8

set_io led[0] J11
set_io led[1] K11
set_io led[2] G12
set_io led[3] H12
set_io led[4] K14
set_io led[5] J12
set_io led[6] L14
set_io led[7] K12

set_io pin_a03 C1
set_io pin_a04 H3
set_io pin_a05 D3
set_io pin_a06 J1
set_io pin_a09 B1
set_io pin_a10 G3
set_io pin_a11 A1
set_io pin_a12 F3
set_io pin_a15 D4
set_io pin_a16 F4
set_io pin_a17 A2
set_io pin_a18 E1
set_io pin_a21 C3
set_io pin_a22 E4
set_io pin_a23 A3
set_io pin_a24 D1
set_io pin_a27 C4
set_io pin_a28 H4
set_io pin_a29 A4
set_io pin_a30 G4
set_io pin_a33 C5
set_io pin_a34 D5
set_io pin_a35 A5
set_io pin_a36 D6
set_io pin_a39 C6
set_io pin_a40 D7
set_io pin_a41 A6
set_io pin_a42 H1
set_io pin_a45 C7
set_io pin_a46 D9
set_io pin_a47 A7
set_io pin_a48 G1
set_io pin_a51 A10
set_io pin_a52 D10
set_io pin_a53 C9
set_io pin_a54 D11
set_io pin_a57 A11
set_io pin_a58 E11
set_io pin_a59 C10
set_io pin_a60 F11
set_io pin_a63 A12
set_io pin_a64 G11
set_io pin_a65 C11
set_io pin_a66 H11
set_io pin_a69 C12
set_io pin_a70 E12
set_io pin_a71 B14
set_io pin_a72 D14
set_io pin_a75 D12
set_io pin_a76 F12
set_io pin_a77 C14
set_io pin_a78 E14

set_io pin_b03 L1
set_io pin_b04 P2
set_io pin_b05 J3
set_io pin_b06 L4
set_io pin_b09 M1
set_io pin_b10 P3
set_io pin_b11 K3
set_io pin_b12 M4
set_io pin_b15 N1
set_io pin_b16 P4
set_io pin_b17 P1
set_io pin_b18 M6
set_io pin_b21 M3
set_io pin_b22 P5
set_io pin_b23 K4
set_io pin_b24 M7
set_io pin_b27 L5
set_io pin_b28 P9
set_io pin_b29 L6
set_io pin_b30 M12
set_io pin_b33 N14
set_io pin_b34 L9
set_io pin_b35 L12
set_io pin_b36 P10
set_io pin_b39 L8
set_io pin_b41 G14
set_io pin_b42 F14
