set_io clk P7
set_io rst_n P8

set_io led[0] J11
set_io led[1] K11
set_io led[2] K12
set_io led[3] K14
set_io led[4] L12
set_io led[5] L14
set_io led[6] M12
set_io led[7] N14

# confirmed from V1 converter
set_io pin_b27  H11
set_io pin_b33  F11
set_io pin_b39  C12
set_io pin_b45  D7

# confirmed from Cu V2 schematic
set_io pin_b43  D9   # IOT_188

# educated guesses based on adjacency in schematic
set_io pin_b29  G11   # adjacent to H11
set_io pin_b35  E11   # adjacent to F11
set_io pin_b41  C11   # adjacent to C12
set_io pin_b47  D6    # adjacent to D7
set_io pin_b51  C7    # next in sequence
set_io pin_b53  C6    # next in sequence
